<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:include = "_template :: head"></head>
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Risque&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{~/css/productFormStyle.css}">
</head>
<body>
	<header th:include = "_template :: menuHeader"></header>
	
	<div class="d-flex justify-content-around p-4">
		<form th:action="@{/product/register}" method="post" th:object="${product}" >
			<h2>Cadastro de Produto</h2>
			<div class="mb-3">
			    <label for="name" class="form-label">Nome</label>
			    <input type="text" class="form-control" id="name" name="name" th:field="*{name}" >
			    <span th:errors="*{name}"></span>
		  </div>
		  <div class="mb-3">
			    <label for="date" class="form-label">Data de validade</label>
			    <input type="date" class="form-control" id="date" name="date" th:field="*{expirationDate}">
			   	<span th:if="${msg != null}" th:text="${msg}"></span>
			    
		  </div>
		  <div class="mb-3">
			    <label for="quantity" class="form-label">Quantidade</label>
			    <input type="number" class="form-control" id="quantity" name="quantity" th:field="*{quantity}">
			    <span th:errors="*{quantity}"></span>
		  </div>
		  <div class="buttons d-flex flex-row justify-content-around">
		  		<a href="/product" class="btn buttonBack">Voltar</a>
		  		<button type="submit" class="btn buttonSave">Salvar</button>
		  </div>
		  
		</form>
		
		<img id="productsImage" class="col-sm-4" alt="Produtos Derivados" src="../../img/produtos.png">	
		
		
		
	</div>

	<div th:include = "_template :: scriptBootstrap"></div>
</body>
</html>