<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:include = "_template :: head"></head>
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Risque&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{~/css/listAll.css}">
</head>

<body>

	<header th:include = "_template :: menuHeader"></header>
		
	<h1 class="text-center title">Lista de Produtos</h1>
		
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">First</th>
	      <th scope="col">Last</th>
	      <th scope="col">Handle</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th scope="row">1</th>
	      <td>Mark</td>
	      <td>Otto</td>
	      <td>@mdo</td>
	    </tr>
	    <tr>
	      <th scope="row">2</th>
	      <td>Jacob</td>
	      <td>Thornton</td>
	      <td>@fat</td>
	    </tr>
	    <tr>
	      <th scope="row">3</th>
	      <td>Larry</td>
	      <td>the Bird</td>
	      <td>@twitter</td>
	    </tr>
	  </tbody>
	</table>

	<div th:include = "_template :: scriptBootstrap"></div>

</body>
</html>