<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:include = "_template :: head"></head>
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Risque&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{~/css/listAll.css}">
</head>

<body>

	<header th:include = "_template :: menuHeader"></header>
		
	<h1 class="text-center title">Lista de Produtos</h1>
		
	<table class="table">
	  <thead>
	    <tr>
	    	<th scope="col">Qtd</th>
	      	<th scope="col">Nome</th>
	      	<th scope="col">Data de Validade</th>
	      	<th scope="col">Ações</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="product: ${products}">
		      <td th:text="${product.getQuantity}" class="align-middle col-md-2"></td>
		      <td th:text="${product.getName}" class="align-middle col-md-2"></td>
		      <td th:text="${product.getExpirationDate}" class="align-middle col-md-2"></td>
		      <td class="align-middle col-md-2">
		      	<a th:href="@{/product/update/{id}(id=${product.getId})}" class="btn btn-primary m-3">Editar</a>
		      	<a th:href="@{/product/delete/{id}(id=${product.getId})}" class="btn btn-danger m-3">Deletar</a>
		      </td>
	   </tr>
	  </tbody>
	</table>
	
	<nav aria-label="Page navigation example">
	  <ul class="pagination" th:each="i : ${#numbers.sequence(1, products.getTotalPages)}">
	    <li class="page-item"><a class="page-link" th:href="@{/product(page=${i-1})}" th:text="${i}"></a></li>
	  </ul>
	</nav>

	<div th:include = "_template :: scriptBootstrap"></div>

</body>
</html>