<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:include = "_template :: head"></head>
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Risque&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{~/css/userFormStyle.css}">
</head>

<body>

	<header th:include = "_template :: headerLogo"></header>
	
	<div class="container d-flex justify-content-center align-items-center">
		<form action ="/user" method="post" th:object="${user}" id="register">
			<h2>Cadastro do Usuário</h2>
			<div class="mb-3">
			    <label for="name" class="form-label">Nome</label>
			    <input type="text" class="form-control" id="name" name="name" th:field="*{name}">
			    <span th:errors="*{name}"></span>
			    
		  </div>
		  <div class="mb-3">
			    <label for="email" class="form-label">Email</label>
			    <input type="email" class="form-control" id="email" name="email" th:field="*{email}">
			    <span th:errors="*{email}"></span>
			    
		  </div>
		  <div class="mb-3">
			    <label for="exampleInputPassword1" class="form-label">Senha</label>
			    <input type="password" class="form-control" id="password" name="password" th:field="*{password}">
			    <span th:errors="*{password}"></span>
			    
		  </div>
		  
		  <div class="buttons d-flex flex-row justify-content-around">
		  		<a class="btn buttonBack" href="/">Voltar</a>
		  		<button type="submit" class="btn buttonSave">Salvar</button>
		  </div>
		  
		</form>
	</div>

	<div th:include = "_template :: scriptBootstrap"></div>

</body>
</html>