<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:include = "_template :: head"></head>
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Risque&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{~/css/userLoginStyle.css}">
</head>

<body>

	<header th:include = "_template :: headerLogo"></header>
	
	
	<div class="d-flex justify-content-around" id="login">
		<img id="barbecueImage" class="col-sm-4" alt="Homem preparando churrasco" src="../../img/churrasco.png">	

		<form th:action="@{/login}" method="post">
		
			<h1 class="text-center">Login</h1>
			
			<div class="form-group">
				<label for="email">Email</label>
				<input name="username" id="email" class="form-control">
			</div>
			
			<div class="form-group pt-4">
				<label for="pass" >Senha</label>
				<input type="password" name="password" id="pass" class="form-control">
			</div>			
			
			<div class="d-flex justify-content-around mt-5" id="buttons">
				<a class="buttonBack" href="/">Voltar</a>
				
				<button class="buttonLogin" type="submit">Entrar</button>
				
			</div>
			
		</form>

	
	</div>
	

	<div th:include = "_template :: scriptBootstrap"></div>

</body>
</html>