<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:include = "_template :: head"></head>
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Risque&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{~/css/userLoginStyle.css}">
</head>

<body>

	<header th:include = "_template :: headerLogo"></header>
	
	
	<div class="d-flex justify-content-around" id="login">
		<img id="barbecueImage" class="col-sm-4" alt="Homem preparando churrasco" src="../../img/churrasco.png">	

		<form th:action="@{/user/login}" th:object="${user}" id="loginForm" class="col-sm-3 align-self-center" method="post">
		
			<h1 class="text-center">Login</h1>
			
			<div class="form-group">
				<label for="email">Email</label>
				<input name="email" id="email" class="form-control" th:field="*{email}">
			</div>
			
			<div class="form-group pt-4">
				<label for="pass" >Senha</label>
				<input name="password" id="password" class="form-control" th:field="*{password}">
			</div>			
			
			<div class="d-flex justify-content-around mt-5" id="buttons">
				<button class="buttonBack" href="#">Voltar</button>
				
				<button class="buttonLogin" type="submit">Entrar</button>
				
			</div>
			
		</form>

	
	</div>
	

	<div th:include = "_template :: scriptBootstrap"></div>

</body>
</html>