.title{
	font-family: Patrick Hand;
	font-size: 3rem;
}

.checkButton{
	width: 3rem;
	height: 3rem;
	background: #2E933C;
	padding: 0.5rem;
	border-radius:100% 100% 100% 100%;
	
	
}

.iconCheck{
	width: 2rem;
	height: 2rem;
}

.editButton{
	width: 3rem;
	height: 3rem;
	background: #B18FCF;
	padding: 0.5rem;
	border-radius:100% 100% 100% 100%;
	margin: 0.5rem;
	
	
}

.columnTitle{
	font-family: Patrick Hand;
	font-size: 2rem;
	font-weight: normal;
	text-align: center;
}

thead .theadStyle{
	background: #C4C4C4;
}

.iconEdit{
	width: 2rem;
	height: 2rem;
}

.deleteButton{
	width: 3rem;
	height: 3rem;
	background: #E94F37;
	padding: 0.5rem;
	border-radius:100% 100% 100% 100%;
	margin: 0.5rem;
	
	
}

.iconDelete{
	width: 2rem;
	height: 2rem;
}

.borderStyle{
	border-right: 3px solid black;
}

.columnItem{
	text-align: center;
	font-family: Patrick Hand;
	font-size: 1.5rem;
	
}

.paginationStyle{
	margin: 0.3rem;
}

.paginationContent{
	font-family: Risque;
	color: #000000;
	background: #C4C4C4;
	font-size: 1.2rem;
	font-weight: bold;
	border: 2px solid #000000;	
}
