a {
	text-decoration: none;
}


#login label{
	font-size: 1.25rem;
	margin-left: 1rem;
}

#login form{
	width: 40%;
}

#buttons .buttonBack{
	font-family: Patrick Hand;
	background: #393E41;
	border-radius: 5px;
	filter: drop-shadow(-5px 6px 6px rgba(0, 0, 0, 0.25));
	color: #F6F7EB;
	text-align: center;
	font-size:1.5rem;
	width: 8rem;
	border: none;
}

#buttons .buttonLogin{
	border: none;
	font-family: Patrick Hand;
	background-color: #E94F37;
	border-radius: 5px;
	color: #F6F7EB;
	filter: drop-shadow(-5px 6px 6px rgba(0, 0, 0, 0.25));
	text-align: center;
	font-size:1.5rem;
	width: 8rem;
}

#login input{
	background: rgba(204, 204, 204, 0.8);
	box-shadow: -7px 9px 6px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}

#barbecueImage{
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	transform: matrix(-1, 0, 0, 1, 0, 0);
}


@media screen and (max-width:1515px) {
	html{
		font-size: 14px;
	}
	
	img{
		width: 40%;
	}
}

@media screen and (max-width:1000px){
	html{
		font-size: 25px;
	}
	#barbecueImage{
		display: none;
	}
	
	#login form{
		position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	}
	
}
