<!DOCTYPE html>
<html 
	xmlns:th="http://thymeleaf.org">

	<head th:fragment="head">
		<meta charset="UTF-8">
		<title>Save Food</title>
		<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Risque&display=swap" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" 
			integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" th:href="@{~/css/main.css}">
	</head>
	<body>
		<header th:fragment="headerLogo">
			<img class="logo" alt="Logo Save Food" src="../img/saveFood.png">
		</header>
		
		<header th:fragment="menuHeader">
			<div class="d-flex">
				<img class="logo" alt="Logo Save Food" src="../img/saveFood.png">
				
				<nav class="navbar navbar-expand-lg navbar-light w-100 mx-5 menu">
				  <div class="collapse navbar-collapse d-flex justify-content-between " id="navbarSupportedContent">
				    
				    <ul class="navbar-nav">
				      <li class="nav-item">
				        <a class="nav-link" href="#">Home</span></a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">Produtos Vencidos</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">Cadastrar Produto</a>
				      </li>
				    </ul>
				    
				   <a href="/logout"><img class="icon" alt="Sair" src="../img/logout.png"></a>  
				    
				  </div>
				</nav>
				
			</div>
		</header>
	
		<div th:fragment="scriptBootstrap">
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" 
		    	integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
	    </div>
	
	</body>
</html>